<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <tabs>
        <fondof translate="label" module="fondof_contentful">
            <label>FondOf</label>
            <sort_order>2000</sort_order>
        </fondof>
    </tabs>
    <sections>
        <fondof_contentful translate="label" module="fondof_contentful">
            <label>Contentful</label>
            <tab>fondof</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="fondof_contentful">
                    <label>General Settings</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <access_token translate="label" module="fondof_contentful">
                            <label>Access Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_token>
                        <space_id translate="label" module="fondof_contentful">
                            <label>Space ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </space_id>
                        <locale>
                            <label>Locale</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </locale>
                    </fields>
                </general>
                <page>
                    <label>Pages</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <entry_id_for_home>
                            <label>Entry Id For Home</label>
                            <comment><![CDATA[Please set "Default Web URL" to "fondof_contentful" for rendering the home page from contentful.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </entry_id_for_home>
                    </fields>
                </page>
                <image>
                    <label>Images</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_width>
                            <label>Max Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_width>
                        <jpeg_quality>
                            <label>JPEG Quality</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </jpeg_quality>
                    </fields>
                </image>
                <callback_authorization>
                    <label>Callback Authorization</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <username translate="label" module="fondof_contentful">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password translate="label" module="fondof_contentful">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </callback_authorization>
            </groups>
        </fondof_contentful>
    </sections>
</config>
